{% extends "base.html" %}
{% block head %}

{% endblock %}

{% block body %}

<div class="paragraph-container">

    <h1>About Our Project</h1>

    <p>
        Welcome to our website project, where we offer a note-taking app and a website blocker to help you stay organized and focused.
    </p>

    <h2>Note-Taking App</h2>
    <p>
        Our note-taking app allows you to jot down your thoughts, ideas, and important information easily. Stay organized and keep your notes accessible whenever you need them.
    </p>

    <h2>Website Blocker</h2>
    <p>
        Our website blocker helps you boost productivity by allowing you to block distracting websites during work or study sessions. Stay on track and minimize distractions with our simple tool.
    </p>

    <p>
        For more information and updates, visit our homepage.
    </p>
</div>


{% endblock %}