{% extends "base.html" %}

{% block head %}
    <h1>🌐 Welcome to my website 🌐</h1>
{% endblock %}

{% block body %}

<div class="index-container">
    <h3>List of apps:</h3>
    <ul class="tabs">
        <li><a style="text-decoration: none;" href="https://reign-cyril-de-vera.github.io/Portfolio">📊 Data Analyst Portfolio</a></li>
        <li><a style="text-decoration: none;" href="/todo">📝 To-Do App</a></li>
        <li><a style="text-decoration: none;" href="">🍅 Pomodoro Timer</a></li>
        <li><a style="text-decoration: none;" href="/blocker">🚫 Website Blocker</a></li>
    </ul>
</div>

{% endblock %}